.form {
    max-width: 50%;
    /* min-width: 50%; */
  }
  
#title{
    padding-top: 25px;
}
#courses {
    text-align: center;
    border-collapse: collapse;
    border: 3px solid #ddd;
    max-width: 50%;

}

#courses td, students th{
    border: 1px solid #ddd;
    padding: 8px; 
}


#courses th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #c67aff

}
img {
    float: right;
  }
